:root {
	--background: #111;
	--red: #a5331d;
	--primary: #eff0ea;
	--green: #597525;
	--contrast: #ecd393;
}

body {
	background: var(--background);
	background-position: center;

	color: var(--primary);

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 1.2rem;
	height: 100dvh;
}

button {
	background: var(--secondary);
	border: none;
	color: var(--primary);
}
button:hover,
button:focus {
	outline: 2px solid var(--tertiary);
}
button:active {
	background: var(--tertiary);
}
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.gap1 {
	gap: 1rem;
}
.gap2 {
	gap: 2rem;
}
.gap4 {
	gap: 4rem;
}
