@import url(./reset.css);
@import url(./globals.css);

body {
	overflow: hidden;
	color: var(--primary);
	text-shadow: 1px 0 2px black, -1px 0 2px black, 0 1px 2px black, 0 -1px 2px black;
}

img {
	position: absolute;
	z-index: -1;
	width: 100dvw;
	height: 100dvh;
	object-fit: cover;
}

h1 {
	font-size: 4rem;
}
