@import url("./reset.css");
#root {
  display: flex;
	justify-content: space-around;
	width: 80%;
  padding: 20px;
}
/* Styles for the firstDiv (menu)   */
.pizza-menu {
    background-color: #B4BCCF;
    /* padding: -2px; */
    border-radius: 10px;
    width: 250px;
    height: 762px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .pizza-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    width: 220px;
    height: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.pizza-item:hover {
    box-shadow: 0 2px 16px rgba(3, 238, 3, 0.683);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
.pizza-item h3 {
    font-size: 20px;
    color: #000000;
}

.pizza-item p {
    font-size: 18px;
    color: #000000;
}

/* Styles for the pizza description div */
.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
   
  /* background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 250px;
    height: 500px;
     */
  }
.description {
  width: 661px;
  height: 500px;

}
.description__pizza-desc {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .description__pizza-desc h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .description__pizza-desc p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .description__pizza-desc .description__price {
    color:hsl(122, 100%, 40%);
    font-weight: bold;
  }
  .pizza-button {
    background-color: #2f2f2f;
    border-radius: 8%;
  }
  /* Styles for the ingredients div */
  .description__ingredients {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .description__ingredients h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .description__ingredients ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }
  
  .description__ingredients li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Styles for the image div */
  .description__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .description__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* advertisement div  */
  .advertisement-div {
    width: 635px;
    height: 150px;
    background-color: #2f2f2f;
    padding: 16px;
    margin-top: 565px;
    border-radius: 10px;
    position: absolute;
    display: flex;
  }
  
  .advertisement-title {
    font-size: 24px;
    margin-bottom: 8px;
    color: white;
  }
  
  .advertisement-paragraph {
    font-size: 16px;
    margin-bottom: 16px;
    color: white;

  }
  
  button {
    background-color: orange;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  img {
  
    width: 170px;
  }
.hover-effect{
  box-shadow: 0 2px 16px rgba(3, 238, 3, 0.683);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* styling for the order elements  */
.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.order-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.order-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.order-quantity {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}

.plus-button,
.minus-button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.plus-button:hover,
.minus-button:hover {
  background-color: #ddd;
}

.plus-button:active,
.minus-button:active {
  background-color: #ccc;
}


  